Package: sigstoped-dbgsym
Source: sigstoped
Version: 1:0.73-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Uvos <carl@uvos.xyz>
Installed-Size: 349
Depends: sigstoped (= 1:0.73-1)
Section: debug
Priority: optional
Multi-Arch: same
Description: debug symbols for sigstoped
Build-Ids: 8d2a153010b3e35a0500b1969e6f855421d6aee4
