Source: qsigstoped
Section: user/utilities
Priority: optional
Maintainer: Uvos <carl@uvos.xyz>
Build-Depends:
 debhelper,
 qtbase5-dev,
 qtbase5-dev-tools,
 qt5-qmake,
Standards-Version: 3.7.2

Package: qsigstoped
Architecture: any
Multi-arch: same
Depends:
 libqt5gui5,
 libqt5core5a,
 sigstoped,
Description: An application to configure the qsigstoped deamon
XB-Maemo-Display-Name: QSigstoped
XB-Maemo-Icon-26: iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAANIXpUWHRSYXcgcHJvZmlsZSB0eXBl
 IGV4aWYAAHja7ZlpkuO6EYT/4xQ+AvblOFgjfAMf318BoFq9zPO8GId/uTXdkkgQBCqzsrI4av7r
 n0v9gx/vYlY+pBxLjJofX3yxlQ9Zn5+y/xrt99/94+4pvn86rl4nLIfcx8hU7/jK8fBxwXMP0z4f
 V/mesflOdE88Ezq5s+XDeF8kx+05bvydqMzzIZac3pfa7Hnvd+Beyv014dzG3THyXb0f8IkojcCN
 nLXTGaf333zGuPNb+Y38dW6P20ecS2q/2bsSAvJpe8+71u8B+hTk55P6Gv3Xpy/Bt/Ued19iGW+M
 +PDjCfb9Y/B3iD/T4a7Ifj4xql7ftnN/1xp5rXl2V30kovEySqsnOnINAxshd/uyyCvxG/ic9qvw
 yrrqDuRDd914dVOMBZWljDfDVLPM3O/ddJbo7bSJd2u7dftYdskW28HIOC8vs2xyxQ2XQa7bqcDM
 O/tai9n3Lft+3WTuPAxDrWEywyW/fKm/Ovl3XmqtLiEyOr9ixbqsMItlCHLyl1EAYtbFLewAP68L
 v37jD1QFwbDDnNlg1e1M0YL54JbbODvGBd5PChmVxp2AEHHvwGKMAwEdjQsmGp2sTcYQxwxAlZVb
 520DAROCHSzSeueiVclmK/fmmmT2WBtstHIYbQKIQGYlsCmuApb3Af4kn+FQDS74EEIMKWQVSqjR
 RR9DjDFFEbmaXPIppJhSyqmkml32OeSYU8655FpscWhgKLGkkksptVpVuVFlrsr4ypFmm2u+hRZb
 armVVjv06b6HHnvquZdehx1uIBMjjjTyKKNOoyZKMf0MM8408yyzLri23PIrrLjSyqus+kLtovrt
 9TdQMxc1u5GScemFGkdVSs8URuQkCGYgZr0B8SQIQGgrmOlsvLeCnGCmiyUpgmWRQbBRwwhiQOin
 sWGZF3YfyP0Wbirk38LN/ifklED330BOAd133H5AbUid6xuxk4USU+3IPs7PXJXNVYpa/dP3/0/0
 P5+o6RKTdaXrGFafBbQLHFipuOXcmibMvqpd3Y5hLKww0xU7m9gaiNxmKMpAq7SamSs0JtA1tu5I
 VeFIqzWtsasi37PcEtJw3M2wJvVoxsTkeXEbVZill1X2JKtqvyhjS8PEvmasclinFZ28T2uL/sV5
 dQdk7WZqJQ7rc0GETSC589TDW8rySM2v3NM0JeZWXSwodg9tjLAkm6bBsRWLODjTQl7Rm1nCDKbO
 kH2oKUzyXTPUltxdDD1LebWu6RXZZ+91h1vb5FXDf/rYtW3DuV5q+RaCNlKSsOm+fCCgASkypZKS
 I4iocBfKoAKqbAaZPFuNa2UUBhcgGy6LlQMZoUzyvXtASp1wH0j58oDqy1LfDoZFfVuYhgmSXNXf
 ZmMuK4ss38OtXnjscPfUJAYG49FWNjWHobdFCQjTygBtItpWI1wzHYcxYrW9D0tds2buaBPHxr+Q
 CgDV5almPo1gLeKWUjlldvqevXFldKKmgcZrk1Fb41UQq8yHP3hPI7qpTI4G+ZO9j2QcIYkNrZ0S
 fdinezNrDgR6zZbRwmgbej2TGxX/Ak3YUiKaKpiS3ER9bY+EiQtygQ0rJ7uxm20OwkwVq6uMBQvl
 qDUhN5lay7ehS1VtZrnWA8o0ZjQuqqsF0pb7NcK/jLApU7w4M8nA5e1mo7lsdLMi3aCmWXouMv/o
 ew2ZAjJ6kQWHblJ2IecB4fdEsjob6hzsuQproqFM9aTaQAc6a3B+n+n40koKTHbKIts0cqmJbIxi
 A6X7hOQS0FrvbZdQT6WM2ywDUyuHK9Q+uw517ytnd2ICRWXNYa9IejAq2Lu8qT/QxVULSeg72emj
 8rJzpI0qTKpD38RXtI2SKuf9XuczoPRGdsT32DyhUU9sJoKJBIEBYKWzzXq3yZFOusq2LJdv3LPg
 WmoblGfcilFceLY/y758E0ZjS/ZaSIjpZM32A3b3gh1Z1UmAGbEoQSabS6vYWjikznHp7Mwe8ww5
 A9xm7hunD6XVi9OIcbQSODoQWYOsZMOO4zNLUB8b9cZZMIdYK0ynsVE+s1s1GwF+AO/GET6JxDho
 3+3uPc1Qf4Cvdjy57VXhszK3S0iO1iFVcnJfnH2yEH2m6ncxwthLnRHpM72x2jLJS4qVd1KRRGrz
 +8Xxh4v9c264b+dYKEoHMVQ7uboHn5uwzXub35lg5/psXv3FBPUXE9T3CZ7r1dsExX05mT5C4DCS
 ljPBDIc/9i0FtB3DQDIEWJ8VI+cIRcR3+YGeBZI+4n0XGrLXRtVFIY+okNR4WNrN+Z5aRbeifpE6
 r8yJZABuxeEKNm2RjK2RNAUj5ZCyAIkeKGEs7h6tJm/wwGl29MFt7vWrOHZI0ZyWAkq/6zfCofNO
 P0wVaU8VSbRv2P5dBIS3I4mgVmNHihZrzTIpC9RTauBA+dcpE3eEDnmwf9UbRNn5VR3FgYF1n0Gi
 sepUc1vtkZK5kT1ZQws1TlInNA+Vjyo8coClD1lEaF/5nmuDoiq5luQJwyvX2BQldtc2NmrU/ZA8
 4Sxy6dGiCXa0WdCoVfIQ2mJVTnmqRqIrMpJrpAWaoC0PEGRPMToOliixO9rwQOjZpzW/cUL9xSXj
 CV2PMEXIsFyhHFBmr4y+VUCCjVo4kUvUOKdJDD+rpbNb5+nU6AcXjc8nFUeKtsxH5QioO+c/zsLU
 zVMW8jOmGEAO0rF6d3Q6qKf8QQwcNLXZH8fErA6vC7AZqJ1BqTlALbQQG1rD6ZZy2bRGkhfN8RAq
 gCTccRdOI0VQJI+0owRdJm/YqebpSHWPVFPx4AzB+q09AmpSz9sJKRuSfcfyIe0vZbeuh7iVfW62
 9Ydtiv1I1zybO3Srj7RTxW2RpChl52M0b1sSpcKNH1OzL1LbBmyazvCi6X2PS3hJ47HXvMLWtu2N
 DGa9ii9NVxKTEuHKO3O5MkecOQVLNKQ/SrIlhp3tU5dqesn3KkMlHN52JcWu72LH8C7cOwC7k833
 8jsnDQ2E9OkHdcIfpVIxO04eXWBXddTC2LoZK6VunrTypHZOQ5iMubxmUl+vSe1UQ4QznHS855P/
 T3yEiXkaNMZsCMRUqXvfKK7+hFLnOy3uIEZWTC2voi/ylPGrGeM4O0kuqXUMxAcp/UNKqe20VZ/N
 M94Gfy5ZTsc5TY3WwTTIoF7mOW/G2bMTtvC9EHRJpG0v95PWJh+FcaS8PIcsfLxiqt1jGdZevHFi
 bN4vi3sv0ZwgxDevrURnpf6ta5/06721KD3IaN0G052xobmuaw27baiWtoY0445u0kXvSpu63WXZ
 BL/llDIbjyLtMXTbfa95mRBmSmeivapuIc9ePQVSNxzI8dO5SqXH7m2eFY6VzzdinnbmYT/MEmSW
 PcVe0ZkF41C3/3G4B7EPiMRxBnqztwdasHUAPWZRU1t2e04eKDs3ay43pq3bSgDBx1xnJplHn7Yq
 jTtNfKahivw4TULFf5jmhNnThEfp7GsZNNZO9+RsU5bemAZGHldFnelcJXfWtfaJ3iJIhpm3DEvX
 1hP1KHJ/WmdVpSdH8UfbybQpScofkcx9Z92teFmIJ0xHxbfH0E9iFxf21hZN7/E7R+9RNDwGQfcn
 /2i62Ok2JfJwgY2mtZPGPXkVhnoSaxCbvhPL7DH2JJafN7HgwpDE0rspRX13XoVXXqlfJhato9mJ
 Na8a1HxyhJaI8a7WHsTV6bRFXoVZsVB2q/yjBIEVZwTPI/S7cLUdE3liXw2LQo/GV31XXw/83juh
 GFWUoJ1mGfF3OxZxnKKXEXIiyGmELB84y/cuxuxSl49auiSOTF1L9mas7AAO/NAKO6z56KRLUhnT
 rYwiOv3DwTkzFAbz8zVoiotPsxnDYvn8k1bnA8p4oHSgIuvnvrf23/N2r/UaJtDTFdcijPSXrG7X
 mq5H3hR5QMEEVGn8MAwbFXNRkYcxrYtRtmLbpU2DQDPSrWey+aOnLPLYD+MrAKi/j9h3BHuqQTmB
 0H1gFE/NM+xMMpJlL3Gz9BEQ8K0E72JnT7GTqk2MMDfGy/9JxuvpB3NKAXBxkNBsxLzDZ1L3XeBz
 0V1jUwy2hk1HAXuOz8A9jxkWvoPgfinWqV/ruLw4vAghDyeulMwvtS0H8l8S0B4KopApSGpHu9Ui
 n9U41EJhZinsr9am4ydsbL77UeT5Knp4IB7vhvEHt6j+GDPoVIVHEYUtvjmPJntDQ2DCdg3iHWwM
 NclTQtPqqTbhqTY4dongPE+9jDNquCYyT34h8/bIvKhJyXNXiOU69FxzSU2lOrR8nmfUOjw0l2rc
 Ym9G9WT81DlRvhxtMY3pEus7x/R0CcbmtP97qGWaYrB/31MIeT+QmwNToiYkmt6QXrrKo+0mzyp2
 l92bn6dNdilI2a5P2e4SYWaS9SOJe/vqh/3v0obbX5/3fGqtOTUSwWrY52agnrfW00JwbeyLzd89
 QYbkS0pJN+ujwZdkk2Y0k73VX+P3X0ja/0/0BxPBa4ql+jeQSP25+QtsowAAAYVpQ0NQSUNDIHBy
 b2ZpbGUAAHicfZE9SMNAHMVfU7UiFVE7iIhkaJ0siIo4ahWKUCHUCq06mFz6ITRpSFJcHAXXgoMf
 i1UHF2ddHVwFQfADxMnRSdFFSvxfUmgR68FxP97de9y9A4RqkWlW2xig6baZjMfEdGZFDLyiA8Po
 QwS9MrOMWUlKoOX4uoePr3dRntX63J+jW81aDPCJxDPMMG3ideKpTdvgvE8cYgVZJT4nHjXpgsSP
 XFc8fuOcd1ngmSEzlZwjDhGL+SZWmpgVTI14kjisajrlC2mPVc5bnLVimdXvyV8YzOrLS1ynOYQ4
 FrAICSIUlLGBImxEadVJsZCk/VgL/6Drl8ilkGsDjBzzKEGD7PrB/+B3t1ZuYtxLCsaA9hfH+YgA
 gV2gVnGc72PHqZ0A/mfgSm/4S1Vg+pP0SkMLHwE928DFdUNT9oDLHWDgyZBN2ZX8NIVcDng/o2/K
 AP23QNeq11t9H6cPQIq6StwAB4fASJ6y11q8u7O5t3/P1Pv7AXhRcqlqsKGdAAAABmJLR0QAAAAA
 AAD5Q7t/AAAACXBIWXMAAAYqAAAGKgFEZLVUAAAAB3RJTUUH5AYeEiUhxb+RnwAABLhJREFUaN7V
 mktvG1UUx3+TDLFb2SguilSpSMRFPJpVJdQNEgvCYwddIJEKibCADV2YVVWpEkrEAqmFVIpAiC0q
 DQ/BJh+AfIFKpiyatqLBiyDSIGpsVzj1PC6LnOuOxzOe8czYgSONFMfHc8//nv89555zr0E2UgZO
 ASeAk8Ax4AhwSL5vA/eA34GfgRvANeC3tAMbKX47DZwBFoHjwCOAGmJcC9gCrgDfAvVxATgKnAfe
 AAqAm3ISJ4CWgLgM3B0VgBxwFjgHTDEa6QCfAF8AD7IEMAtcBZ5hPHIbeAuoxXFflJwGNsZoPMDT
 MubpKMXJiO/fAT4D8oxfcsBrwC5wPQmAReDTmF4alRjAK8CfEn5jA3gd+PyAjfeCeFnWxa04i3hW
 +FfkvyX3gRf9yc8I4N2GLKLEUiqVKBQKPe9Waj/H7e7uqk6n06NfLBaZnp42/LoAjUZDtVot/fEm
 MC/hFgDTN/bZtMYDLC0tHZ6fn88rpVBK4bouSikMw2B5ebm1vr5uefUrlUp+YWHhsF8fYG1t7Z+V
 lZU9UX0WeE/yRB+Ao5KkUks+n6dQKBheYzQA0zT7w00uF6gPMDXVlzMvAD/qjO1dpOezyrCO42Db
 NpZlYdt292/LsnBdN7a+bds4jtM3P2JrTyIryd6GrABog/WjDQsC4LpuV8erHwZYbC15KXQmo40Z
 QHfwIAp5F6gfcBCFQgAUgQXgS+2Bt7MyfgwUQmxd1B4oy36erCnknc1BM5rAA4jNs6ZUUsMUI7EB
 xKWQ67rd9eEHEOIBxOZTppSBKmsPaIO8sd0wjIEe8OtHeEABJ0ypYZmZmTHm5uZMbzb0z1bYZ6UU
 7XZbVatVO2sKDfAAwEkTeBygXC5PViqVRx3H6Rk07rO9vW1Vq9VmFIWiAPgzcQSAY6aOpzoWJwGg
 ORxmkJdCUWvAT6EIAEdMXawopbphK4kHvAN5k9YIoxDAoR7OZwVgjBTCBPaAvAbgnzU9oN+YuADi
 UCgsasUA0DalYzYdBmAQ77WLgwCEUSjIIL3+ElDonintvuPNZlNtbm4+8L8gyPig/9frdTsOp6P2
 Qn4KRQDYNqVYfmFra8tZXV29n3UmjpvIElLouimNViPLbDxsFEpIIQO4YUqX2AooLzPfC8UJo0NE
 IQu4ZkqVfyfLzlsYhQatgbAAMsADvwI1XQ9cybIHpA3yV1hhFZkG7NXXT4gHJsTmrtHfSYt7ZCWl
 fsK2Ev5SUv8d4oGW2NzlfV368++OmkJxo1BQgvTID8Df/rbKZSktp7KiUJJFHLYT8MgecCmoL3QX
 uAh8mBZAvV53dnZ2OgEJ0Gi3230cajQabog+zWbTj+Bj7ylOUGvxpzGfBQwjm8BL3tbi/6m525Lm
 bi3qhKYGVLJss2QgrthUi3s+cBv4A3iVdEexWRl/Dvh+2BOaX4CdAwahjf8qyRGTBnFLuJc7AM6/
 HzbzgxZxkDwBfC09pHHITclJkVcRJmO+sMH+OXEdeD7LnatPOsBHwAfAX3F+MDnEyx3Zel+VEPuU
 0CptHTHB/vnXN9Kw3ZCxYknayx5vsn+W/CTJLnvcEWqO9bJHkJSB54A5Hl63eYyHB+R7Qgn/dZta
 2oH/BZIPapK7iJDUAAAAAElFTkSuQmCC
